#checkout-container {
  text-align: left;
  width: 100%;
}

#checkout-row {
  margin-left: 10%;
  margin-right: 10%;
}

hr {
  width: 100%;
}

#clear-icon {
  margin: 0 auto;
  margin-top: 15px;
  color: black;
}

#quantity {
  text-align: center;
  width: 30px;
  height: 22px;
}

.underline {
  text-decoration: underline;
}
