#navRow{
  display: flex;
  justify-content: space-evenly;
}

#home {
  padding-left: 2vw;
}
#litzia {
  font-size: 3vw;
}

.navRightIcons {
  padding-right: 2vw;
}

#search {
  display: flex;
  justify-content: center;
  width: 60vw;
}
#searchButton {
  background-color: transparent;
  border: none;
  margin-top: 4%;
  margin-left: 55%;
}
#searchInput {
  width: 40vw;
  color: rgb(22, 22, 22);
  background-color: white;
  padding: 0.3vw;
  margin-bottom: 0%;
  margin-top: 2vh;
  margin-left: 10%;
}

#topNav {
  background-color: rgb(4, 40, 107);
}

.row {
  margin-bottom: 0;
}
.nav-content {
  width: 100%;
}

#loginMod {
  text-align: left;
  display: flex;
  justify-content: left;
}

#modal,
#rowModal {
  width: 18%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.shoppingIcon {
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: 1vh;
}

#litzia {
  font-size: 40px;
}

#litziaImage {
  height: 6vh;
  margin-top: 2vh!important;
}

#logoColumn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal {
  margin-top: 1vh;
  width: 66%;
}

.modal-content{
  background-color: rgb(121, 120, 120)!important;
}

#name{
  padding-left: 0.5vw;
}

#pass{
  padding-left: 0.5vw;
}

#searchCol{
  text-align: center;
  display: flex;
  justify-content: center;
}

#nav-mobile{
  width: 100%;
  display: flex;
  justify-content: center;
}

#rightCol{
  padding: 0!important;
}

#cartCol{
  display: flex;
  justify-content: left;
  padding: 0;
}

#loginCol{
  /* display: flex;
  justify-content: left; */
  padding: 0;
 
  position: relative;
  overflow: hidden;
}

/* .loginModal{
  
} */

#modalLog{
  margin-left: 0;
  margin-top: 1vh;
  /* margin-right: 2vw; */
  /* margin-right: 2vw; */
}