#topNav {
  background-color: #044e97;
  padding-bottom: 0vh;
}

#navRow{
 display: flex;
 align-items: center!important;
 /* justify-content: center; */
}

#litziaImage {
  height: 6vh;
  margin-top: 2vh!important;
  margin-right: 12vw;
  margin-left: 6vw;
}




#search {
  display: flex;
  justify-content: center;
  width: 45vw;
  align-items: center;
  margin-left: 3vw;
  margin-right: 3vw;
}

#searchButton {
  background-color: rgb(51, 51, 51);
  border: none;
  /* margin-top: 0.1rem; */
  height: 3.2rem;
  /* margin-left: 55%; */
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 50%; */
  border-radius: 0px 8px 8px 0px;
}

#searchInput {
  width: 45vw;
  color: rgb(22, 22, 22);
  background-color: white;
  padding-left: 0.5vw;
  margin-bottom: 0%;
  border-radius: 8px 0px 0px 8px;
  margin-left: 7vw;
}

#searchRow{
  display: flex;
  align-items: center;
}

.shoppingIcon{
  margin-left: 12vw;
}

#loginBtn{
  border-radius: 5px;
}


#modalLog{
  margin-left: 4vw;
  }

  
#loginBtn{
  display: flex;
  text-align: left!important;
  
}

.btn-large{
  text-align: left!important;

}

  

.row {
  margin-bottom: 0;
}
.nav-content {
  width: 100%;
}



#modal,
#rowModal {
  width: 18%;
  margin-left: auto;
  left: auto;
  right: auto;
}


#modal {
  margin-top: 1vh;
  width: 66%;
}

.modal-content{
  background-color: rgb(121, 120, 120)!important;
}

#name{
  padding-left: 0.5vw;
}

#pass{
  padding-left: 0.5vw;
}

#searchCol{
  /* text-align: center;
  display: flex;
  justify-content: center; */
  width: 90%!important;
  
}

#nav-mobile{
  width: 100%;
  display: flex;
  justify-content: center;
}

#rightCol{
  padding: 0!important;
}
/* 
#cartCol{
  display: flex;
  justify-content: left;
  padding: 0;
  max-width: 5vw;
} */

#loginCol{
  /* display: flex;
  justify-content: left; */
  padding-left: 0;
  /* padding-right: 4vw!important; */
  /* position: relative;
  overflow: hidden; */
}

/* .loginModal{
  
} */




@media only screen and (max-width: 600px) {

  #searchButton {
    background-color: rgb(51, 51, 51);
  border: none;
  /* margin-top: 0.1rem; */
  height: 3.2rem;
  /* margin-left: 55%; */
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  border-radius: 0px 8px 8px 0px;
  }
  
  #search {
    display: flex;
    justify-content: center;
    width: 40vw;
  }

  #searchInput {
    margin-left: 2vw;
  }
  

  /* #nav-mobile{
    
  } */

    
#loginBtn{
  width: 60%;
  display: flex;
  text-align: left!important;
  margin-right: 0!important;
  padding-left: 0;
  font-size: 12px;
}

#modalLog{
  margin-left: 2.5vw;
  }


.shoppingIcon{
  margin-left: 4.8vw;
}

  #searchCol{
    /* width: 20%!important; */
    padding-right: 0!important;
  }

  #loginBtn {
   margin-left: 1vw;
   padding-left: none !important;
  }


  
  


}