.parentDiv{
    height: 100%;
    margin: auto !important;
    
}

.carousel{
    height: 100%;
    /* width: 60% !important; */
    margin: auto !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
}

.rowCarousel{
display: flex;
width: 100%;
text-align: center;
margin: auto !important;


}

.thumbs-wrapper{
    display: none;
}

.carousel-slider{
    height: 100%; 
    margin: auto !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
}

.carousel-root{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
    
}

.product-image{
    max-width: 25vw;
    /* max-height: 15vh; */
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 2vh;
    margin: 0 auto;
    display: block;
    margin-top: 2rem;
    
}


.itemTitle{
    color: white;
    margin-top: 4rem;
    /* margin-left: 4rem;
     */
}

.itemDescription{
    color: white;
    /* float: left;
    clear: left; */
}

.mainDiv{
    /* display: flex; */
    /* justify-content: center; */
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgb(29, 29, 29)
    
}

.viewBtn{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 0!important;
    background-color: #045db6!important;
    border-radius: 5px;
}

#smallViewBtn{
    display: none;
}

#smallImage{
    display: none;
}

.buttonView{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#closeModal{
    color: black!important;
    background-color: black!important;
}

.modal-close{
    position: absolute;
    top:10px;
    right:10px;
    padding:0;
    margin:0;
  }


.control-arrow{
    background-color: grey !important;
}

.carousel-status{
    margin-right: 4vw;
}

/* .ReactModal__Overlay--after-open{

} */

.ReactModal__Content--after-open{
  width: 60vw;
  height: 60vh;
  display: flex!important;
  margin: 0 auto!important;
  justify-content: center!important;
    
}

/* #rowID{
    
    
} */


.itemImage{
    border: solid 1px grey;
    margin-top: 5vw;
    
}


@media only screen and (max-width: 600px) {

    .carousel-status {
        margin-right: 10vw
    }

    #smallViewBtn{
        margin-top: 2vh !important;
        display: block;
        background-color: #045db6!important;
        border-radius: 5px;
    }
    #largeViewBtn{
        
        display: none;
        
    }
    

    #topImage{
        display: none;
    }

    #smallImage{
        max-width: 40vw;
        display: block;
        margin-top: 0;
    }

    #smallImgRow{
        height: 100% !important;
        padding: 0!important;
    }

   #mobileColumn{
       height: fit-content;
   }

   .itemTitle{
       margin-top: 1vh;
       margin-bottom: 0vh;
   }

   .itemDescription{
       margin-top: 1vh;
       margin-bottom: 0vh;
   }




  }