#carousel1{
    background: rgb(241, 241, 241);
    margin-top: 5vh;
    display: flex;
    align-items: center;
   
    
}


.image{
    
    min-width: 30vw;
    display: flex;
    align-items: center;
    /* margin-top: 3vh; */
    
 
}

/* .cardStyle{
    
    
} */