.product-header {
  font-family: 'Times New Roman', Times, serif;
  margin-top: 0%;
  margin-bottom: 0%;
}
.product-card {
  height: 500px;
}
.product-image {
  /* ... */
  object-fit: cover;
  height: unset;
  aspect-ratio: 8 / 6; /* Amounts close to a 184px height */
}

#header-container {
  background-color: white;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  box-shadow: 1px 1px 5px;
}

.product-margin {
  margin-bottom: 3%;
}

.itemImage{
  width: 100%;
  margin-top: 7vw;
  height: 100%;
}
/* .viewBtn{
  position: absolute;
  right:38%;
  top: 87%
  
} */