#header-container {
    margin-top: 2%;
  }
  
.subCatButton{
  contain: content;
}

.categoryButton{
  background-color: #ffffff;
  color: black!important;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.226);
  
}