.shipping-header,
.billing-header {
  text-align: left;
}

#shipping-container,
#billing-container,
#payment-container {
  background-color: white;
  padding: 1%;
  margin-top: 3%;
  border-radius: 10px;
  width: 60%;
}

#checkbox {
  text-align: left;
}

#button-container {
  margin-top: 1%;
  margin-bottom: 10%;
  width: 51%;
}

#payment-button {
  text-align: left !important;
}

.hide {
  color: red;
}

/* .ReactModal__Content--after-open{
  z-index: 1;
  background: blue!important;
} */



@media only screen and (max-width: 600px) {
  #shipping-container,
  #billing-container,
  #payment-container {
    width: 90%;
  }
}
