.App {
  text-align: center;
}

.page-container {
  width: 100%;
  margin: 0 0;
}

#app-row {
  width: 90vw;
}

#singleProduct {
  width: 100% !important;
}

#rowID {
  margin: 0 auto;
  /* margin-left: 5vw; */
  width: 100%;
}

#header-container {
  background-image: url("https://media.gcflearnfree.org/content/55e0730c7dd48174331f5164_01_17_2014/whatisacomputer_mac.jpg");
  object-fit: contain;
  background-position: center;
  background-size: contain;
}

body {
  background-color: rgb(236, 234, 230);
}
