.App {
  text-align: center;
}

.page-container {
  width: 100%;
  margin: 0 0;
}

#app-row {
  width: 90vw;
}

<<<<<<< HEAD
#singleProduct {
  padding-top: vw;
}
=======
#singleProduct{
  width: 100%!important;
}

#rowID{
  margin: 0 auto;
  /* margin-left: 5vw; */
  width: 100%;
}
>>>>>>> ce960000fc097aea6903cadda3c541cc634a7897
