.hide {
  display: none !important;
}

.App {
  text-align: center;
}

.page-container {
  width: 100%;
  /* margin: 0 0; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#app-row {
  width: 90vw;
}

#singleProduct {
  width: 100% !important;
}

#rowID {
  margin: 0 auto;
  /* margin-left: 5vw; */
  width: 100%;
}

#header-container {
  object-fit: contain;
  background-position: center;
  background-size: contain;
}

body {
  background-color: white;
}

#admin-container {
  margin-top: 3%;
  background-color: white;
  height: 100%;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #888888;
}

.admin-input {
  margin-bottom: 15% !important;
}

#admin-description {
  margin-bottom: 2%;
  height: 100px;
}
#admin-additem {
  margin-bottom: 2%;
  background-color: rgb(4, 40, 107);
}

.admin-top-row {
  margin-top: 5% !important;
}

#upload_widget {
  background-color: rgb(4, 40, 107);
}

.filter-by {
  text-align: left;
  padding: 0 0.75rem;
}

.product-card {
  box-shadow: 1px 1px 5px;
}

.addToCart:hover {
  cursor: pointer;
}

.addToCart{
  background-color: #045db6!important;
  color: white;
  border-radius: 5px;
  padding: 1vw;
}

#priceDiv{
  margin-bottom: 6vh;
}

@media only screen and (max-width: 600px) {
  .addToCart{
    background-color: #045db6!important;
    color: white;
    border-radius: 5px;
    padding: 4vw;
  }

  .cartDiv{
    margin-bottom: 4vh;
  }
  
  
}
