/* body{
    background:#EF9A9A;
  } */
  
  
  .modal{
   max-height:100%;
   overflow:hidden;
   color: white;
   border-radius: 1vw;
  }
  
  input[type="submit"]{
    width: 100%;
    margin-top: 50px;
  }
  .modal-close{
    position: absolute;
    top:10px;
    right:10px;
    padding:0;
    margin:0;
  }


#loginBtn{
    margin-left: 0;
    margin-right: 2vw;
}

.modal-content{
    background-color:  rgb(161, 159, 159)!important;
}

.input-field .prefix.active{
  color: #045db6!important;
}


.modal-overlay{
    backdrop-filter: blur(6px);
    opacity: 1 !important;
    background: rgba(0,0,0,0.3)
}

#modalLogin{
  background-color: #045db6!important;
  border-radius: 5px;
}